body {
    background-image: url('img/image.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
  
  a{
 text-decoration: none;
color: wheat;
  }

  p::selection{
      background-color: white;
      color: black;
  }

