body {
    background-image: url('img/image.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
  

  *{
      color: white;
  }


  .boxStyle{
      background-color: black;
      color: white;
      width: 200px;
      height: auto;
      min-height: 100px;

  }

  .testP{



  }